.sprite-icons {
  background-image: url(/images/icons/sprite-icons@2x.png);
  background-repeat: no-repeat;

  &.tmh-logo {
    width: 195px;
    height: 30px;
    margin-top: 22px;
    background-size: 382.9787234042553% 11111.11111111111%;
    background-position: 0 0;
  }

  &.home-icon {
    width: 18px;
    height: 16px;
    background-size: 2250% 11428.57142857143%;
    background-position: 24.06976744186047% 1.210592686002522%;
  }

  &.service-icon {
    max-width: 22px;
    height: 21px;
    width: 25.23364485981308%;
    background-size: 1666.666666666667% 7692.307692307692%;
    background-position: 60.16548463356974% 0;
  }

  &.heart-icon {
    max-width: 20px;
    height: 17px;
    width: 20.5607476635514%;
    background-size: 2093.023255813953% 10526.31578947368%;
    background-position: 51.22520420070012% 0;
  }

  &.person-icon {
    width: 20px;
    height: 19px;
    background-size: 2142.857142857143% 9090.909090909091%;
    background-position: 42.65734265734266% 0;
  }

  &.pointer-icon {
    width: 13px;
    height: 20px;
    background-size: 3333.333333333333% 10000%;
    background-position: 30.92783505154639% 1.742424242424242%;
  }

  &.ots-icon {
    width: 19px;
    height: 18px;
    background-size: 1800% 8510.63829787234%;
    background-position: 0 5.666582342524665%;
  }

  &.bubble-icon {
    width: 20px;
    height: 19px;
    background-size: 2250% 10526.31578947368%;
    background-position: 54.76744186046512% 1.741544674406865%;
  }

  &.faq-icon {
    width: 20px;
    height: 20px;
    background-size: 2368.421052631579% 10526.31578947368%;
    background-position: 0px 4.492680464411913%;
  }

  &.true-logo {
    width: 75px;
    height: 27px;
    background-size: 600% 7407.407407407407%;
    background-position: 9.466666666666667% 4.510897110998479%;
  }

  &.phone-cir-red-icon {
    width: 35px;
    height: 35px;
    vertical-align: baseline;
    background-position: 36.763005780346816% 95.83858764186634%;
    background-size: 2571.4285714285716% 11428.57142857143%;
  }

  &.arw-orange-sm-right {
    width: 11px;
    height: 21px;
    background-size: 3750% 10000%;
    background-position: 39.26940639269406% 10.47979797979798%;
  }

  &.arw-red-down {
    margin-left: 5px;
    width: 10px;
    height: 5px;
    background-size: 3000% 28571.42857142857%;
    background-position: 44.13793103448276% 10.71249372804817%;
  }

  &.iservice-icon {
    width: 22px;
    height: 21px;
    background-size: 1666.666666666667% 7692.307692307692%;
    background-position: 60.16548463356974% 0;
  }

  &.th-flag {
    width: 20px;
    height: 12px;
    background-size: 1551.724137931034% 11111.11111111111%;
    background-position: 0px 7.038345105953582%;
  }

  &.en-flag {
    width: 20px;
    height: 12px;
    background-size: 1551.724137931034% 11111.11111111111%;
    background-position: 11.37440758293839% 7.038345105953582%;
  }

  &.grey-arw-icon {
    width: 10px;
    height: 14px;
    background-size: 4736.842105263158% 14285.71428571429%;
    background-position: 54.02951191827469% 9.264853977844914%;
  }

  &.fb-icon {
    width: 25px;
    height: 25px;
    background-size: 1500% 6666.666666666667%;
    background-position: 32.02380952380952% 4.483627204030227%;
  }

  &.tw-icon {
    width: 25px;
    height: 25px;
    background-size: 1500% 6666.666666666667%;
    background-position: 41.54761904761905% 4.483627204030227%;
  }

  &.yt-icon {
    width: 25px;
    height: 25px;
    background-size: 1500% 6666.666666666667%;
    background-position: 51.07142857142857% 4.483627204030227%;
  }

  &.two-way-arw-white {
    width: 7px;
    height: 15px;
    background-size: 6428.571428571429% 13333.33333333333%;
    background-position: 16.93002257336343% 11.51133501259446%;
  }

  &.arw-white-prev {
    width: 9px;
    height: 15px;
    background-size: 4736.842105263158% 12500%;
    background-position: 43.58683314415437% 7.056451612903227%;
  }

  &.arw-white-next {
    width: 9px;
    height: 15px;
    background-size: 4736.842105263158% 12500%;
    background-position: 54.029511918274686% 7.056451612903227%;
  }
}




