@font-face {
  font-family: 'TrueBold';
  src: url('/fonts/TrueBold/true_bold-webfont.eot');
  src: url('/fonts/TrueBold/true_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TrueBold/true_bold-webfont.woff2') format('woff2'),
    url('/fonts/TrueBold/true_bold-webfont.woff') format('woff'),
    url('/fonts/TrueBold/true_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrueBoldNew';
  src: url('/fonts/TrueBoldNew/true_bold-webfont.eot');
  src: url('/fonts/TrueBoldNew/true_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TrueBoldNew/true_bold-webfont.woff2') format('woff2'),
    url('/fonts/TrueBoldNew/true_bold-webfont.woff') format('woff'),
    url('/fonts/TrueBoldNew/true_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrueLight';
  src: url('/fonts/TrueLight/true_light-webfont.eot');
  src: url('/fonts/TrueLight/true_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TrueLight/true_light-webfont.woff2') format('woff2'),
    url('/fonts/TrueLight/true_light-webfont.woff') format('woff'),
    url('/fonts/TrueLight/true_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrueLightNew';
  src: url('/fonts/TrueLightNew/true_light-webfont.eot');
  src: url('/fonts/TrueLightNew/true_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TrueLightNew/true_light-webfont.woff2') format('woff2'),
    url('/fonts/TrueLightNew/true_light-webfont.woff') format('woff'),
    url('/fonts/TrueLightNew/true_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrueMedium';
  src: url('/fonts/TrueMedium/true_medium-webfont.eot');
  src: url('/fonts/TrueMedium/true_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TrueMedium/true_medium-webfont.woff2') format('woff2'),
    url('/fonts/TrueMedium/true_medium-webfont.woff') format('woff'),
    url('/fonts/TrueMedium/true_medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrueMediumNew';
  src: url('/fonts/TrueMediumNew/true_medium-webfont.eot');
  src: url('/fonts/TrueMediumNew/true_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TrueMediumNew/true_medium-webfont.woff2') format('woff2'),
    url('/fonts/TrueMediumNew/true_medium-webfont.woff') format('woff'),
    url('/fonts/TrueMediumNew/true_medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChulabhornLikitDisplay';
  src: url('/fonts/ChulabhornLikitDisplay/chulabhornlikitdisplay-medium.eot');
  src: url('/fonts/ChulabhornLikitDisplay/chulabhornlikitdisplay-medium.woff2') format('woff2'),
    url('/fonts/ChulabhornLikitDisplay/chulabhornlikitdisplay-medium.woff') format('woff');
}
