.confirm-fundtong-section {
  max-width: 950px;
  margin: 30px auto;
  padding: 16px 16px 36px 16px;
  background: white;
  font-size: 20px;

  .text-grey {
    color: #666666;
  }

  .button {
    padding: 9px 24px;
  }

  .content {
    text-align: center;

    .content-section {
      padding-bottom: 30px;
      border-bottom: 1px solid #E0E0E0;
    }

    .mobile-number-block {
      max-width: 400px;
      margin: 0 auto;
      border: 1px solid #E0E0E0;
      margin-top: 25px;
      padding: 10px 10px 0px 10px;
      border-radius: 5px;
      margin-bottom: 25px;
      span {
        font-size: 20px;
      }

      .mobile-number {
        color: #FF0000;
        font-size: 36px;
      }
    }

    .confirm-detail {
      margin: auto;
      text-align: left;
      max-width: 500px;
      font-size: 24px;
    }
    .text-red {
      color: #FF0000;
    }

    .title-text {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 43px;
      color: #374754 !important;
      margin-bottom: 32px;
      margin-top: 10px;
    }
    .bottom-line {
      border-bottom: 1px solid #e0e0e0;
      margin-top: 20px;
    }

    .button-section {
      margin-top: 30px;
      margin-bottom: 10px;

      .button-back {
        background: #FFFFFF;
        border: 3px solid #FF0000;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 6px 24px;
        color: #FF0000;
        margin-right: 20px;
      }
      .bottom-line-dialog {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .img-dialog {
        max-width: 90px;
      }
    }

    @media screen and (max-width: 520px) {
      .button-back {
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }

    .form-confirm::v-deep {
      max-width: 500px;
      margin: auto;
      .bottom-line {
        border-bottom: 1px solid #E0E0E0;
      }

      .input_container {
        font-size: 24px;
      }

      .input input[disabled]{
        background-color: #E0E0E0;
      }

      .input {
        width: 100%;
      }

      @media screen and (min-width: 860px) {
        .data-contact {
          margin-right: 20px;
          width: 240px;
          float: left;
        }
      }

      .invalid-form .form {
        .input {
          input:invalid {
            border-color: #ff0000;
            color: #ff0000;
          }

          .error {
            display: block;
          }
        }
      }

      .input input::placeholder {
        color: #b2b2b2;
      }
    }
  }
}