.text-orange {
  color: #f2994a;
}
.text-blue {
  color: #20639b;
}
.text-red {
  color: #dd2d4a;
}
.text-green {
  color: #276733;
}
.text-A_doublePlus_num {
  color: #9C1316 !important;
}
.text-A_plus_num {
  color: #DA3932 !important;
}
.text-A_standard_num {
  color: #F5C145 !important;
}
.border-orange {
  border-color: #f2994a;
}
.border-blue {
  border-color: #20639b;
}
.border-red {
  border-color: #dd2d4a;
}
.border-green {
  border-color: #276733;
}
.border-A_doublePlus_num {
  border-color: #9C1316;
}
.border-A_plus_num {
  border-color: #DA3932;
}
.border-A_standard_num {
  border-color: #F5C145;
}
.bg-orange {
  background-color: #f2994a;
}
.bg-blue {
  background-color: #20639b;
}
.bg-red {
  background-color: #dd2d4a;
}
.bg-green {
  background-color: #276733;
}