{
  "plugins": [
    "vue"
  ],
  "extends": [
    "standard",
    "plugin:vue/essential"
  ],
  "globals": {
    "Omise": true
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": "off",
        "vue/order-in-components": [
          "error"
        ],
        "vue/script-indent": [
          "error",
          2,
          {
            "baseIndent": 1,
            "switchCase": 1
          }
        ]
      }
    }
  ]
}